/*
   * The Typekit service used to deliver this font or fonts for use on websites
   * is provided by Adobe and is subject to these Terms of Use
   * http://www.adobe.com/products/eulas/tou_typekit. For font license
   * information, see the list below.
   *
   * open-sans:
   *   - http://typekit.com/eulas/00000000000000007735a061
   *   - http://typekit.com/eulas/00000000000000007735a07a
   *   - http://typekit.com/eulas/00000000000000007735a07c
   * pacifico:
   *   - http://typekit.com/eulas/00000000000000003b9b136e
   *
   * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
   *
   * {"last_published":"2021-03-10 20:34:04 UTC"}
   */

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/open-sans-700.woff2') format('woff2'),
    url('../fonts/open-sans-700.woff') format('woff'),
    url('../fonts/open-sans-700.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/open-sans-400.woff2') format('woff2'),
    url('../fonts/open-sans-400.woff') format('woff'),
    url('../fonts/open-sans-400.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/open-sans-600.woff2') format('woff2'),
    url('../fonts/open-sans-600.woff') format('woff'),
    url('../fonts/open-sans-600.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'pacifico';
  src: url('../fonts/pacifico.woff2') format('woff2'),
    url('../fonts/pacifico.woff') format('woff'),
    url('../fonts/pacifico.otf') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}
